#logo-div{
    height: 36%;
    display: flex;
    align-items: center; //Alinhamento vertical
    justify-content: center; //Linha horizontal

    h3{
        text-align: center;
    }
    p{
        text-align: center;
        padding-top: 20px;
    }
}