<div id="logo-div">
  <ion-text color="medium">
    <br><br><p>{{title ? title : ""}}</p>
    <img src="../../../assets/icon/logo.png" />
    <h3>iFinanças</h3>
    <br>
  </ion-text>
</div>
<br><br><br>
